body, html {
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
	background:url("../img/fondoed.jpg") no-repeat center center fixed;
	background-size:cover;
}

body {
	font-size:2vw;
}

.izq,.centro,.der {
	display:inline-block;
	width:33.33%;
}

.izq {
	float:left;
}

.der {
	position:absolute;
}

.panel {
	list-style-type:none;
	margin:4%;
	padding:0;
	overflow:hidden;
	float:right;
}

.right {
}

#nave {
	text-align:center;
	position:fixed;
	top:2%;
	width:100%;
	height:20%;
}

#info {
	display:block;
	background-color:green;
	width:60%;
	Font-family:"lucida console";
	padding:1%;
	margin:2%;
}

.controles {
	height:auto;
	background-color:white;
	margin:10px;
	width:80%;
	border:5px solid black;
	font-size:100%;
	margin-bottom:15px;
	padding:1%;
}

#abajo {
	position:fixed;
	width:100%;
	height:30%;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}

#ventanainstruccionesmovil {
	padding: 5px;
	text-align:center;
	position:absolute;
	top:35%;
	bottom:0;
	right:5%;
	left:5%;
	background:url("../img/fondoventanas.png") no-repeat;
	background-size:cover;
	border-radius:10px;
}

#ventanaacercademovil {
	padding: 5px;
	position:absolute;
	top:35%;
	bottom:0;
	left:5%;
	right:5%;
	background:url("../img/fondoventanas.png") no-repeat;
	background-size:cover;
	border-radius:10px;
}

#ventanainstrucciones {
	display:none;
}

#ventanaacercade {
	display:none;
}

#energia {
	position:fixed;
	bottom:15%;
	right:5%;
	background:url("../img/sprite.png") 0px -300px;
}

#energia:hover {
	position:fixed;
	bottom:15%;
	right:5%;
	background:url("../img/sprite.png") 0px -400px;
}

#spriterestart {
	background-image:url("../img/sprite.png");
	background-position:0px -900px;
}

#spriterestart:hover {
	background-image:url("../img/sprite.png");
	background-position:0px -1000px;
}

#spritepausa {
	background-image:url("../img/sprite.png");
	background-position: 0px -700px;
}

#spritepausa:hover {
	background-image:url("../img/sprite.png");
	background-position: 0px -800px;
}

#spriteinstrucciones {
	background-image:url("../img/sprite.png");
	background-position: 0px -500px;
}

#spriteinstrucciones:hover {
	background-image:url("../img/sprite.png");
	background-position: 0px -600px;
}

#spriteatras {
	background-image:url("../img/sprite.png");
	background-position: 0px -100px;
}

#spriteatras:hover {
	background-image:url("../img/sprite.png");
	background-position: 0px -200px;
}

#spriteacercade {
	background-image:url("../img/sprite.png");
	background-position: 0px 0px;
}

.atras {
	height:100px;
	width:100px;
	float:left;
	position:absolute;
	left:2%;
	bottom:2%;
}

.acercade {
	height:100px;
	width:100px;
	float:left;
	position:absolute;
	right:2%;
	bottom:2%;
}

.sprites {
	height:100px;
	width:100px;
	float:left;
}

/*Comunes*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 25px;
    background-color: rgba(32,73,119,0.4)
}

.modal-content p{
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 25%;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
